@media screen and (max-width: 800px) {
  .nav-menu {
    position: absolute;
    top: 20px;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .nav-menu.not-showing {
    -webkit-transform: translate(-110%);
    /* Chrome, Safari, Opera */
    transform: translateX(-110%);
  }
}
